<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sebrs3018.SmartSharing">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartSharing"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.sebrs3018.SmartSharing.application.SmartSharingApplication"
        android:theme="@style/Theme.Login">


        <activity android:name=".LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".Navigation_Activity" >
            <intent-filter>
                <action android:name="com.sebrs3018.SmartSharing.Navigation_Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SearchableActivity">
            <intent-filter>
                <action android:name="com.sebrs3018.SmartSharing.SearchableActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>


        <activity android:name=".RegistrationActivity">
            <intent-filter>
                <action android:name="com.sebrs3018.SmartSharing.RegistrationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisteredUsers">
            <intent-filter>
                <action android:name="com.sebrs3018.SmartSharing.RegisteredUsers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".BCScanner">
            <intent-filter>
                <action android:name="com.sebrs3018.SmartSharing.BCScanner"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


    </application>

</manifest>